

body{
    background-image: url("https://ak6.picdn.net/shutterstock/videos/30580996/thumb/1.jpg?i10c=img.resize(height:160");
}

.p-3{
    height:5%;
}

.card-text{
    color:black;
}

.card-1{
    margin-top: 20px;
    background: white;
}
     
  
    