body,html {
    height: 100%;
    
} 

 #bg {  
     
     background-image: url("https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?auto=compress&cs=tinysrgb&h=350");

   
    height: 100%;  

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}   

/* body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP9Gmx53aYfkkO-0hyMHqg3PNsInI9OZBOXP2yDYGtD_CFFGolOw");
}  */

.p-3{
    height:5%;
}

.card-text{
    color:black;
}

.card-1{
    /* margin-top: 20px; */
    background: white;
}

.color{
    color: black;
}


.me{
    height: 35%;
    width: 25%; 
    border-radius: 70%;
}

.heading{
    font-family: 'Inconsolata', monospace;
    color: white;   
}

.title{
    font-size: 65px;
}

/* .cardheight  {
    height:60%;

} */

.card-img-top1{
    height: 188.41px;
}

.card-img-top2{
    height: 188.41px;
}

.card-link{
    color:white;
}

.hr{
    background-color: white; height: 1px; border: 0;
}

.nav-link1{
    color: white;
    font-family: 'Inconsolata', monospace;
}




     
  
    